.layoutContainer {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  margin-left: 60px;
  transition: margin-left 0.3s ease;
}

.mainContent.expanded {
  margin-left: 250px;
}

.mainContent.fullWidth {
  margin-left: 0;
}

.navbar {
  width: 100%;
  min-width: 390px;
}

.main {
  padding: 20px;
}

.footer {
  height: 5%;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 60px;
  }
  
  .mainContent.fullWidth {
    margin-left: 0;
  }
}