.inspection {
    display: flex !important;
    flex-direction: row !important;
    justify-Content: space-between;
    align-items: center;
    border: thin solid black !important;
    padding: 2px 5px !important;
}

.options{
    flex-wrap: nowrap !important;
    color:rgba(0, 0, 0, 0.6) !important;
}

@media(max-width:900px){
    .inspection{
        flex-wrap: wrap;
    }
}